<!-- app/web/templates/employee_list.html -->
<h2>Lista pracowników</h2>
<table border="1" style="width:100%;">
    <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Rola</th>
        <th>Akcje</th>
    </tr>
    {% for emp in employees %}
    <tr>
        <td>{{ emp.id }}</td>
        <td>{{ emp.first_name }}</td>
        <td>{{ emp.last_name }}</td>
        <td>{{ emp.role or 'Brak' }}</td>
        <td>
            <button>Edit</button>
            <button>Usuń</button>
        </td>
    </tr>
    {% endfor %}
</table>
