<div class="page">
<h2>Lista grafików</h2>

<table class="employee-table">
    <tr>
        <th>
            <a href="{{ url_for('schedule_bp.list_schedules',
                                sort='id',
                                order='asc' if current_sort != 'id' or current_order == 'desc' else 'desc') }}">
                ID
            </a>
        </th>

        <th>
            <a href="{{ url_for('schedule_bp.list_schedules',
                                sort='year',
                                order='asc' if current_sort != 'year' or current_order == 'desc' else 'desc') }}">
                Rok
            </a>
        </th>

        <th>
            <a href="{{ url_for('schedule_bp.list_schedules',
                                sort='month',
                                order='asc' if current_sort != 'month' or current_order == 'desc' else 'desc') }}">
                Miesiąc
            </a>
        </th>

        <th>
            <a href="{{ url_for('schedule_bp.list_schedules',
                                sort='version',
                                order='asc' if current_sort != 'version' or current_order == 'desc' else 'desc') }}">
                Versja
            </a>
        </th>

        <th>
            <a href="{{ url_for('schedule_bp.list_schedules',
                                sort='status',
                                order='asc' if current_sort != 'status' or current_order == 'desc' else 'desc') }}">
                Status
            </a>
        </th>
    </tr>
    {% for s in schedules %}
    <tr>
        <td>

            <a href="/schedules/{{ s.id }}" target="content-frame">
                {{ s.id }}
            </a>
        </td>
        <td>{{ s.year }}</td>
        <td>{{ s.month }}</td>
        <td>{{ s.version }}</td>
        <td>{{ s.status }}</td>
    </tr>
    {% endfor %}
</table>
</div>
